/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Define global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.section {
    background-color: #222;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Define specific styles for sections as needed */

/* Define styles for the contact form */
label, input, textarea {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Define styles for portfolio items */
.portfolio-item {
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}
